<!DOCTYPE html>
<html>
  <head>
    <title>edit/photo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  </head>
  <body>
    <header>
      <h1>Edit your post</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/photos">Post Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>

      <form action="/photos/<%=photo._id%>?_method=PUT" method="post">


        <input type="text" name="title" value="<%=photo.title%>" placeholder="title"/><br/>
        <img src="<%=photo.url%>">
        <input type="url" name="photo.url" value="<%=photo.url%>" placeholder="url"/><br/>

        <textarea name="body" placeholder=""><%=photo.body%></textarea><br/>
        <input type="submit" value="Update Photo"/>
      </form>
    </main>




    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>