<!DOCTYPE html>
<html>
  <head>
    <title>show/photo</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/photos">Photos Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Posted By: <%=user.username%></h2>
        <h1><%=photo.title%></h1>
          <!-- insert date here -->
   <!--        <small>by: <a href="/users/<%=user._id%>"><%=user.username%></a></small> -->
      </section>
      <img src="<%=photo.url%>">
      <section>
        <%=photo.body%>
      </section>

      <section>
        
          <a href="/photos/<%=photo._id%>/edit">Edit My Post</a>
          <form action="/photos/<%=photo._id%>?_method=DELETE" method="post">
              <input type="submit" value="Delete My Post"/>
          </form>

      </section>

    </main>
  </body>
</html>
