<!DOCTYPE html>
<html>
<head>
  <title>show/users</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body>
  <header>
    <h1><%=user.username%></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Back to User Index</a></li>
      </ul>
    </nav>
  </header>


  <main>





    <section>
      <ul>
        <% for (let i = 0; i < user.photos.length; i++){ %>
          <li><a href="/photos/<%=user.photos[i].id%>"><%=user.photos[i].title%></a></li>
          <li><a href="/photos/<%=user.photos[i].id%>"><img src="<%=user.photos[i].url%>"></a></li>
          <li><%=user.photos[i].body%></a></li>
        <%} %>
      </ul>
    </section>



    <section>
      <a href="/users/<%=user.id%>/edit">Edit</a>
    </section>

    <section>
      <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
        <button type="submit">Delete User</button>
      </form>
    </section>
  </main>




  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>